<%# Page to display an instructors existing recommendations %>
<h1 class="display-4">Let's look at your existing recommendations</h1>
<hr>
<% if @recommendations.length == 0 %>
  <p>You have not made any recommendations yet! Go back to your profile to submit a recommendation.</p>
<% end %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% @recommendations.each do |item| %>
  <div class="card">
  <div class="card-header">
    Recommendation for <%= item.first_name + " " + item.last_name%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Course Number: <%=item.course_number%></h5>
    <p class="card-text"><%=item.recommendation%></p>
    <a href=<%="/instructor/edit_recommendation/" + item.id.to_s%> class="btn btn-primary">Edit</a>
  </div>
</div>
<% end %>
<a href="/instructor/profile" class="btn-secondary btn-lg text-center">Back</a>
