<div class="jumbotron">
  <h1 class="display-4">Welcome, <%=@studentName%></h1>
  <p class="lead">Thanks for your interest in grading.</p>
  <hr class="my-4">
  <div class="application-btns">
    <a href="/student/application"  class="btn btn-outline-primary btn-lg profileButton"> <%= @transcript == nil ? 'Create Grader Application' : 'Update Grader Application '%></a>
  </div>
</div>
  <div id="profileCalendar">
    <h3>Your Current Availability</h3>
    <%= calendar number_of_days: 5, :start_day => :monday do |date| %>
      <%# <p>Current Available Hours</p> %>
      <% if date.monday? %>
        <% if @monday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@monday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.tuesday? %>
      <% if @tuesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@tuesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.wednesday? %>
      <% if @wednesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@wednesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.thursday? %>
      <% if @thursday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@thursday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.friday? %>
      <% if @friday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@friday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
