<div class="jumbotron">
  <h1 class="display-4">Welcome, <%=@studentName%></h1>
  <p class="lead">Thanks for your interest in grading.</p>
  <hr class="my-4">
  <div class="application-btns">
    <a href="/student/application"  class="btn btn-outline-primary btn-lg profileButton"> <%= @transcript == nil ? 'Create Grader Application' : 'Update Grader Application '%></a>
    <button onclick="showApplicationStatus()"  id="appStatusButton" class="btn btn-outline-primary btn-lg profileButton">Application Status</button>
    <div class="appStatus" style="display: none">
      <% if @transcript == nil %>
          <p>You do not currently have an application started! Please create a grader application above!</p>
      <% elsif @transcript && @courses_to_grade.length == 0 %>
        <p>We are currently evaluating your application. Check back here to see if you are selected.</p>  
      <% elsif @transcript && @courses_to_grade.length > 0%>
        <p>Congratulations! You've been selected to be a grader! The details are below:</p>
        <div class="card-deck selectedCards">
          <% @courses_to_grade.each do |course| %>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">CSE <%= Course.find_by(id: course.course_id).course_number%></h5>
                <h6 class="card-subtitle mb-2 text-muted">Section #: <%= Course.find_by(id: course.course_id).section_number%> </h6>

                <p class="card-text"><%= "Instructor: #{Course.find_by(id: course.course_id).instructor} "%></p>
                <p class="card-text">Semester: <%= course.semester%> </p>
                <p class="card-text"><%= "Time: #{Course.find_by(id: course.course_id).days} #{Course.find_by(id: course.course_id).start_time}  - #{Course.find_by(id: course.course_id).end_time}"%></p>
              </div>
            </div>
          <% end %>
        </div>
        
      <% elsif !@graders_required %>
        <p>Unfortunately you have not been selected to be a grader this semester. You may apply again for next semester by updating your transcript/availability  </p>
      <% end %>
     
    </div>

  </div>
</div>
  <div id="profileCalendar">
    <h3>Your Current Availability</h3>
    <%= calendar number_of_days: 5, :start_day => :monday, :start_date => @start do |date| %>
      <%# <p>Current Available Hours</p> %>
      <% if date.monday? %>
        <% if @monday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@monday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.tuesday? %>
      <% if @tuesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@tuesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.wednesday? %>
      <% if @wednesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@wednesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.thursday? %>
      <% if @thursday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@thursday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.friday? %>
      <% if @friday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@friday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
    <% end %>
    <% if @no_hours_selected %>
      <p>Visit the grader application to enter the hours you are available to work to be considered to grade during labs!</p>
    <% end %>
  </div>
