<div class="jumbotron">
  <h1 class="display-4">Welcome, <%=@studentName%></h1>
  <p class="lead">Thanks for your interest in grading.</p>
  <hr class="my-4">
  <div class="application-btns">
    <a href="/student/application"  class="btn btn-outline-primary btn-lg profileButton"> <%= @transcript == nil ? 'Create Grader Application' : 'Update Grader Application '%></a>
    <button onclick="showApplicationStatus()"  id="appStatusButton" class="btn btn-outline-primary btn-lg profileButton">Application Status</button>
    <div class="appStatus" style="display: none">
      <% if @courses_to_grade.length == 0 %>
          <p>You do not current have an application started! Please create a grader application above!</p>
        
      <% else %>
        <p>Congratulations! You've been selected to be a grader! The details are below:</p>
        <% @courses_to_grade.each do |course| %>
        
          <p><%=course.semester%></p>
          <p><%=course.course_id%></p>

        <% end %>
        
      <% end %>
     
    </div>

  </div>
</div>
  <div id="profileCalendar">
    <h3>Your Current Availability</h3>
    <%= calendar number_of_days: 5, :start_day => :monday do |date| %>
      <%# <p>Current Available Hours</p> %>
      <% if date.monday? %>
        <% if @monday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@monday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.tuesday? %>
      <% if @tuesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@tuesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.wednesday? %>
      <% if @wednesday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@wednesday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.thursday? %>
      <% if @thursday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@thursday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
      <% if date.friday? %>
      <% if @friday.length == 0 %>
          <p>No Selected Hours</p>
        <% end %>
        <%@friday.each do |day| %>
          <p><%= day.hour %></p>
        <% end %>
      <% end %>
    <% end %>
    <% if @no_hours_selected %>
      <p>Visit the grader application to enter the hours you are available to work!</p>
    <% end %>
  </div>
