<!DOCTYPE html>
<html>
  <head>
    <title>HiringGraders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" <%= 'account' if @account_page %>">
  <%if is_logged_in?%>
    <div class="logout">
      <form action = "/user/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>  
  <%end%>

  <%= yield %>
  </body>
</html>