<!DOCTYPE html>
<html>
  <head>
    <title>HiringGraders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" <%= 'account' if @account_page %>">
  <%if is_logged_in? && !@account_page%>
    <a href="/user/logout" class="btn btn-primary logoutButton">Log out</a>
  <%end%>

  <%= yield %>
  </body>
</html>
